<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pizza.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @pizza.string %>
</p>

<p>
  <strong>Crust:</strong>
  <%= @pizza.crust %>
</p>

<p>
  <strong>String:</strong>
  <%= @pizza.string %>
</p>

<p>
  <strong>Toppings:</strong>
  <%= @pizza.toppings %>
</p>

<p>
  <strong>Text:</strong>
  <%= @pizza.text %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @pizza.cost %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @pizza.integer %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pizza.image %>
</p>

<p>
  <strong>String:</strong>
  <%= @pizza.string %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
